<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

    <h1>Create a new Pokemon!</h1>
        <form action="/pokemon" method="post">
            <label>Name: <input type="text" name="name"></label>
            <label>Type: <input type="text" name="type"></label>
            <label for="imageText">Enter Image Text:</label>
            <input type="text" id="imageText" name="img" placeholder="Type your text here" required>
            <input type="submit" value="Create Pokemon">
        </form>
</body>
</html>